doctype html
html
    head
        meta(charset="UTF-8")
        title 详情

    body
        h1 用户详情

        p 用户名
            span #{username}

        p 学号
            span #{sid}

        p 电话
            span #{phone}

        p 邮箱
            span #{email}